<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554665644802-3aj7k74mo3ra4j51b3ar31796ralt9dc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554665644802-3aj7k74mo3ra4j51b3ar31796ralt9dc</string>
	<key>API_KEY</key>
	<string>AIzaSyAX6pcjW5QR5_mFXdFdTRkq_gWOof_ZwYk</string>
	<key>GCM_SENDER_ID</key>
	<string>554665644802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.TimeManagment</string>
	<key>PROJECT_ID</key>
	<string>timemanagement-9a259</string>
	<key>STORAGE_BUCKET</key>
	<string>timemanagement-9a259.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554665644802:ios:5c6ccb6787d9c891c5a81b</string>
</dict>
</plist>